@if (TempData["success"] != null)
{
    @*Using Toaster Version*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["success"]');
    </script>

    @*Using Plain Version*@
    @*<h2>@TempData["success"]</h2>*@
}
@if (TempData["error"] != null)
{
    @*Using Toaster Version*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["error"]');
    </script>

    @*Using Plain version*@
    @*<h2>@TempData["error"]</h2>*@
}